<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net45" />
  <package id="Hpcs.DependencyInjector" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="Westwind.Globalization" version="3.0.0" targetFramework="net45" />
  <package id="Westwind.Globalization.Web" version="3.0.0" targetFramework="net45" />
  <package id="Westwind.Utilities" version="3.0.10" targetFramework="net45" />
  <package id="Westwind.Web" version="2.76" targetFramework="net45" />
</packages>