<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serialnumber.length" value="14,15"/>
    <add key="legacyDate.year" value="2017"/>
    <add key="legacyDate.month" value="09"/>
    <add key="legacyDate.date" value="01"/>  
    <add key="manufactureYear.character" value="8"/>
    <add key="manufactureYear.default" value="2010"/>
    <add key="manufactureYear.B" value="2011"/>
    <add key="manufactureYear.C" value="2012"/>
    <add key="manufactureYear.D" value="2013"/>
    <add key="manufactureYear.F" value="2014"/>
    <add key="manufactureYear.G" value="2015"/>
    <add key="manufactureYear.H" value="2016"/>
    <add key="manufactureYear.J" value="2017"/>
    <add key="manufactureYear.K" value="2018"/>
    <add key="manufactureYear.M" value="2019"/>
    <add key="manufactureYear.N" value="2020"/>
    <add key="manufactureMonth.character" value="9"/>
    <add key="manufactureMonth.default" value="01"/>
    <add key="manufactureMonth.1" value="01"/>
    <add key="manufactureMonth.2" value="02"/>
    <add key="manufactureMonth.3" value="03"/>
    <add key="manufactureMonth.4" value="04"/>
    <add key="manufactureMonth.5" value="05"/>
    <add key="manufactureMonth.6" value="06"/>
    <add key="manufactureMonth.7" value="07"/>
    <add key="manufactureMonth.8" value="08"/>
    <add key="manufactureMonth.9" value="09"/>
    <add key="manufactureMonth.A" value="10"/>
    <add key="manufactureMonth.B" value="11"/>
    <add key="manufactureMonth.C" value="12"/>
    <add key="hp.countrycode" value="CN,TH"/>
    <add key="serialnumber.invalid" value="-1"/>
    <add key="serialnumber.hp" value="0"/>
    <add key="serialnumber.ss.legacy" value="1"/>
    <add key="serialnumber.ss.new" value="2"/>
  </appSettings>
</configuration>