commands:
   1setupiis:
      command: c:\Windows\System32\dism.exe /Online /Enable-Feature /FeatureName:WAS-WindowsActivationService 
      ignoreErrors: false
      waitAfterCompletion: 0
   2setupiis:
      command: c:\Windows\System32\dism.exe /Online /Enable-Feature /FeatureName:WAS-ProcessModel 
      ignoreErrors: false
      waitAfterCompletion: 0
   3setupiis:
      command: c:\Windows\System32\dism.exe /Online /Enable-Feature /FeatureName:WAS-NetFxEnvironment 
      ignoreErrors: false
      waitAfterCompletion: 0
   4setupiis:
      command: c:\Windows\System32\dism.exe /Online /Enable-Feature /FeatureName:WAS-ConfigurationAPI 
      ignoreErrors: false
      waitAfterCompletion: 0
   5setupiis:
      command: c:\Windows\System32\dism.exe /Online /Enable-Feature /FeatureName:WCF-HTTP-Activation 
      ignoreErrors: false
      waitAfterCompletion: 0
   6setupiis:
      command: c:\Windows\System32\dism.exe /Online /Enable-Feature /FeatureName:WCF-HTTP-Activation45 
      ignoreErrors: false
      waitAfterCompletion: 0